@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto&display=swap");
@font-face {
  font-family: 'Helvetica Neue LT Pro 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 55 Roman"), url("../fonts/HelveticaNeueLTProRoman.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 45 Light';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 45 Light"), url("../fonts/HelveticaNeueLTProLt.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 65 Medium"), url("../fonts/HelveticaNeueLTProMd.woff") format("woff");
}

@font-face {
  font-family: 'Merryweather';
  src: url("../fonts/8919.eot");
  src: local("☺"), url("../fonts/8919.woff") format("woff"), url("../fonts/8919.ttf") format("truetype"), url("../fonts/8919.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

main {
  background-color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 590px) {
  main nav {
    padding: 25px 25px 0 25px;
  }
}

main nav .mobile_menu {
  display: none;
  width: 100%;
  min-height: 55px;
  cursor: pointer;
}

@media screen and (max-width: 445px) {
  main nav .mobile_menu {
    min-height: 40px;
  }
}

main nav .mobile_menu .logo {
  width: 55px;
}

main nav .mobile_menu .logo img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 445px) {
  main nav .mobile_menu .logo {
    width: 40px;
  }
}

main nav .mobile_menu .menu_icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 445px) {
  main nav .mobile_menu .menu_icon {
    height: 35px;
  }
}

main nav .mobile_menu .menu_icon svg {
  width: 100%;
  height: 100%;
  fill: black;
}

@media screen and (max-width: 590px) {
  main nav .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main nav .nav {
  min-height: 55px;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 590px) {
  main nav .nav {
    display: none;
  }
}

main nav .nav a {
  text-decoration: none;
  color: #8a8888;
  font-family: "Roboto", sans-serif;
}

main nav .nav a:hover {
  color: #1d1d1d;
}

main header {
  width: 100%;
  min-height: 790px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 445px) {
  main header {
    min-height: 300px !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 590px) {
  main header {
    height: auto;
  }
  main header .container {
    padding: 0;
  }
}

@media screen and (max-width: 954px) {
  main header {
    padding-bottom: 55px;
    min-height: 490px;
  }
}

main header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 165px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .header h1 {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-size: 44px;
  font-weight: 100;
}

@media screen and (max-width: 590px) {
  main header .header h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 445px) {
  main header .header h1 {
    font-size: 26px;
    min-height: auto;
  }
}

main header .header p {
  padding-top: 10px;
  font-family: "Merryweather";
  font-size: 16px;
  font-weight: 100;
  color: #898888;
}

@media screen and (max-width: 590px) {
  main header .header p {
    font-size: 13px;
  }
}

@media screen and (max-width: 445px) {
  main header .header p {
    font-size: 9px;
    padding-top: 5px;
  }
}

main header .header a {
  margin-top: 45px;
  text-decoration: none;
  padding: 20px 0;
  width: 180px;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #1d1d1d;
  text-align: center;
}

main header .header a:hover {
  border-color: #ffffff;
  background: #1d1d1d;
  color: #ffffff;
}

@media screen and (max-width: 590px) {
  main header .header a {
    padding: 15px 0;
    width: 160px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 445px) {
  main header .header a {
    padding: 10px 0;
    width: 100px;
    margin-top: 20px;
  }
}

main .about_us {
  min-height: 1341px;
  width: 100%;
  background-image: url(../img/about_us.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 974px) {
  main .about_us {
    min-height: 800px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us {
    background-image: none;
    background-color: #1d1d1d;
  }
}

main .about_us .about {
  padding: 10px;
}

main .about_us .about h3 {
  color: #ffffff;
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 48px;
  font-weight: 100;
}

@media screen and (max-width: 564px) {
  main .about_us .about h3 {
    padding-bottom: 10px;
  }
}

main .about_us .about p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #b7b7b7;
}

@media screen and (max-width: 974px) {
  main .about_us .about h3 {
    font-size: 30px;
  }
  main .about_us .about p {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  main .about_us .about {
    text-align: center;
  }
}

main .about_us .about_us_content {
  max-width: 960px;
}

main .about_us .about_us_content .about_container {
  max-width: 947px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 160px;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container {
    padding-top: 100px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

main .about_us .about_us_content .about_container .about_left {
  text-align: right;
  height: 500px;
  max-width: 400px;
  padding-right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_left {
    height: 340px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_left {
    width: 100%;
    padding-right: 0;
    width: 100%;
    height: 250px;
    text-align: left;
  }
}

main .about_us .about_us_content .about_container .about_left .about2011 {
  position: relative;
}

main .about_us .about_us_content .about_container .about_left .about2011 div {
  position: absolute;
  width: 30px;
  top: 25px;
  right: -98px;
}

main .about_us .about_us_content .about_container .about_left .about2011 div img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_left .about2011 div {
    right: -94px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_left .about2011 div {
    display: none;
  }
}

main .about_us .about_us_content .about_container .about_left .about2012 {
  position: relative;
}

main .about_us .about_us_content .about_container .about_left .about2012 div {
  position: absolute;
  width: 45px;
  top: 25px;
  right: -106px;
}

main .about_us .about_us_content .about_container .about_left .about2012 div img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_left .about2012 div {
    right: -104px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_left .about2012 div {
    display: none;
  }
}

main .about_us .about_us_content .about_container .about_right {
  text-align: left;
  margin-top: 140px;
  max-width: 400px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_right {
    height: 330px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_right {
    width: 100%;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_right {
    width: 100%;
    padding-right: 0;
    width: 100%;
    height: 250px;
    margin-top: 16px;
  }
}

main .about_us .about_us_content .about_container .about_right .about2013 {
  position: relative;
}

main .about_us .about_us_content .about_container .about_right .about2013 div {
  position: absolute;
  width: 30px;
  top: 25px;
  left: -92px;
}

main .about_us .about_us_content .about_container .about_right .about2013 div img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_right .about2013 div {
    left: -97px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_right .about2013 div {
    display: none;
  }
}

main .about_us .about_us_content .about_container .about_right .about2014 {
  position: relative;
}

main .about_us .about_us_content .about_container .about_right .about2014 div {
  position: absolute;
  width: 30px;
  top: 25px;
  left: -92px;
}

main .about_us .about_us_content .about_container .about_right .about2014 div img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 974px) {
  main .about_us .about_us_content .about_container .about_right .about2014 div {
    left: -95px;
  }
}

@media screen and (max-width: 564px) {
  main .about_us .about_us_content .about_container .about_right .about2014 div {
    display: none;
  }
}

main .team {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  padding: 80px 0 128px 0;
}

@media screen and (max-width: 638px) {
  main .team {
    padding-top: 40px;
    padding-bottom: 58px;
  }
}

main .team .team_head {
  text-align: center;
}

@media screen and (max-width: 638px) {
  main .team .team_head {
    margin-bottom: 40px;
  }
}

main .team .team_head h2 {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-size: 34px;
  font-weight: 100;
  color: #1d1d1d;
}

@media screen and (max-width: 445px) {
  main .team .team_head h2 {
    font-size: 26px;
  }
}

main .team .team_head p {
  font-family: "Merryweather";
  font-size: 100;
  color: #898888;
  font-size: 16px;
}

@media screen and (max-width: 445px) {
  main .team .team_head p {
    font-size: 14px;
  }
}

main .team .team_content .team_icons {
  padding-top: 127px;
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 638px) {
  main .team .team_content .team_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
  }
}

main .team .team_content .team_icons .box {
  width: 170px;
}

@media screen and (max-width: 638px) {
  main .team .team_content .team_icons .box {
    padding-top: 40px;
  }
}

main .team .team_content .team_icons .box h3 {
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 24px;
  text-align: center;
  color: #464646;
  padding-top: 30px;
}

main .team .team_content .team_icons .box p {
  text-align: center;
  font-size: 13px;
  color: #b3b3b3;
  font-family: "Helvetica Neue LT Pro 55 Roman";
}

main .team .team_content .team_icons .box .icon_img {
  width: 170px;
}

main .team .team_content .team_icons .box .icon_img img {
  display: block;
  width: 100%;
  height: auto;
}

main .team .team_content .team_icons .pad {
  padding-top: 90px;
}

@media screen and (max-width: 638px) {
  main .team .team_content .team_icons .pad {
    padding-top: 20px;
  }
}

main .services {
  width: 100%;
  background: url(../img/services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1365px;
  padding-top: 260px;
}

@media screen and (max-width: 832px) {
  main .services {
    background-image: none;
    background-color: #1d1d1d;
    height: auto;
    padding-top: 70px;
  }
}

main .services .services_content .services_head {
  padding-bottom: 210px;
  text-align: center;
}

@media screen and (max-width: 832px) {
  main .services .services_content .services_head {
    padding-bottom: 100px;
  }
}

main .services .services_content .services_head h2 {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-size: 34px;
  font-weight: 100;
  color: #ffffff;
}

@media screen and (max-width: 445px) {
  main .services .services_content .services_head h2 {
    font-size: 26px;
  }
}

main .services .services_content .services_head p {
  font-family: "Merryweather";
  font-size: 100;
  color: #898888;
  font-size: 16px;
}

@media screen and (max-width: 445px) {
  main .services .services_content .services_head p {
    font-size: 14px;
  }
}

main .services .services_content .services_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 832px) {
  main .services .services_content .services_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .services .services_content .services_main .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  text-align: center;
}

@media screen and (max-width: 1055px) {
  main .services .services_content .services_main .box {
    padding: 5px;
  }
}

@media screen and (max-width: 832px) {
  main .services .services_content .services_main .box {
    margin-bottom: 40px;
  }
}

main .services .services_content .services_main .box .icon {
  width: 170px;
  padding-bottom: 35px;
}

main .services .services_content .services_main .box .icon img {
  display: block;
  width: 100%;
  height: auto;
}

main .services .services_content .services_main .box h3 {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-weight: 100;
  font-size: 26px;
  color: #ffffff;
}

main .services .services_content .services_main .box p {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-weight: 100;
  font-size: 18px;
  color: #383838;
  padding-top: 10px;
}

main .services .services_content .blog {
  margin-top: 140px;
  background-image: url(../img/blog.png);
}

@media screen and (max-width: 832px) {
  main .services .services_content .blog {
    margin-top: 40px;
  }
}

main .services .services_content .blog .blog_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 260px;
}

@media screen and (max-width: 832px) {
  main .services .services_content .blog .blog_main {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

main .services .services_content .blog .blog_main a {
  text-decoration: none;
  padding: 20px 0;
  width: 180px;
  color: #1d1d1d;
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  text-align: center;
  background: #ffffff;
}

main .services .services_content .blog .blog_main a:hover {
  background: #d4d2d2;
  border-color: #d4d2d2;
}

main .contact .contact_content {
  min-height: 955px;
}

main .contact .contact_content .contact_head {
  padding-top: 70px;
  padding-bottom: 57px;
  text-align: center;
}

main .contact .contact_content .contact_head h2 {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-size: 34px;
  font-weight: 100;
  color: #1d1d1d;
}

@media screen and (max-width: 445px) {
  main .contact .contact_content .contact_head h2 {
    font-size: 26px;
  }
}

main .contact .contact_content .contact_head p {
  font-family: "Merryweather";
  font-size: 100;
  color: #898888;
  font-size: 16px;
}

@media screen and (max-width: 445px) {
  main .contact .contact_content .contact_head p {
    font-size: 14px;
  }
}

main .contact .contact_content .contact_main .contact_icons {
  margin: 0 auto;
  max-width: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 130px;
}

@media screen and (max-width: 414px) {
  main .contact .contact_content .contact_main .contact_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 240px;
    padding-bottom: 50px;
  }
}

main .contact .contact_content .contact_main .contact_icons .box {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  text-align: center;
}

main .contact .contact_content .contact_main .contact_icons .box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

main .contact .contact_content .contact_main .contact_icons .box .icon img {
  display: block;
  width: 100%;
  max-height: 100%;
}

main .contact .contact_content .contact_main .contact_icons .box p {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-size: 13px;
  color: #898888;
}

main .contact .contact_content .contact_main .contact_form {
  padding: 96px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact .contact_content .contact_main .contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 483px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contact .contact_content .contact_main .contact_form form input {
  padding: 15px 20px;
  width: calc(100% - 40px);
  border: 1px solid #1d1d1d;
}

main .contact .contact_content .contact_main .contact_form form input::-webkit-input-placeholder {
  color: #8a8888;
  text-align: center;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form input:-ms-input-placeholder {
  color: #8a8888;
  text-align: center;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form input::-ms-input-placeholder {
  color: #8a8888;
  text-align: center;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form input::placeholder {
  color: #8a8888;
  text-align: center;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form input:last-child {
  padding: 15px 0px;
  width: 100%;
  border: 1px solid #1d1d1d;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #1d1d1d;
  font-weight: 600;
}

main .contact .contact_content .contact_main .contact_form form input:last-child:hover {
  background-color: #ffffff;
  color: #8a8888;
}

main .contact .contact_content .contact_main .contact_form form textarea {
  resize: none;
  width: calc(100% - 40px);
  padding: 20px 20px;
  border: 1px solid #1d1d1d;
}

main .contact .contact_content .contact_main .contact_form form textarea::-webkit-input-placeholder {
  color: #8a8888;
  text-align: left;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form textarea:-ms-input-placeholder {
  color: #8a8888;
  text-align: left;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form textarea::-ms-input-placeholder {
  color: #8a8888;
  text-align: left;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main .contact .contact_content .contact_main .contact_form form textarea::placeholder {
  color: #8a8888;
  text-align: left;
  font-size: 15px;
  font-family: "Helvetica Neue LT Pro 45 Light";
}

main footer {
  background-color: #ffffff;
  height: auto;
}

main footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 118px;
}

main footer .footer p {
  text-align: center;
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 14px;
  color: #3b3b3b;
}

@media screen and (max-width: 430px) {
  main footer .footer p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */