@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto&display=swap');

@font-face {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 55 Roman'), url('../fonts/HelveticaNeueLTProRoman.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue LT Pro 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 45 Light'), url('../fonts/HelveticaNeueLTProLt.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 65 Medium'), url('../fonts/HelveticaNeueLTProMd.woff') format('woff');
}

@font-face {
	font-family: 'Merryweather';
	src: url('../fonts/8919.eot');
	src: local('☺'), url('../fonts/8919.woff') format('woff'), url('../fonts/8919.ttf') format('truetype'), url('../fonts/8919.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

// Fonts

$roboto : 'Roboto', sans-serif;
$Montserrat : 'Montserrat', sans-serif;
$HelveticaRoman: 'Helvetica Neue LT Pro 55 Roman';
$HelveticaMd: 'Helvetica Neue LT Pro 65 Medium' ;
$HelveticaLt: 'Helvetica Neue LT Pro 45 Light' ;
$Merryweather: 'Merryweather' ;

// Colors

$defaultLight: #ffffff;
$defaultDark: #1d1d1d;

//link
$textColor: #8a8888;
$hover: #1d1d1d;

//Modificators

.container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}





//Main content

main{
    background-color: $defaultLight;
    width: 100%;

    //Navigation

    nav{
        @media screen and(max-width:590px) {
            padding: 25px 25px 0 25px;
        }

    
        .mobile_menu {
            display: none;
            width: 100%;
            min-height: 55px;
            cursor: pointer;
            
            @media screen and(max-width:445px) {
                min-height: 40px;
            }

            .logo{
                width: 55px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @media screen and(max-width:445px) {
                    width: 40px;
                }
            }

            .menu_icon{
                width: 50px;
                height: 50px;
                cursor: pointer;
                @media screen and(max-width:445px) {
                    height: 35px;
                }
                svg {
                    width: 100%;
                    height: 100%;
                    fill: rgb(0, 0, 0);
                }
            }
            @media screen and(max-width:590px) {
                display: flex;
                justify-content: space-between;

            }
        }

        .nav{

            @media screen and(max-width:590px) {
                display: none;
            }

            min-height: 55px;
            max-width: 650px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                text-decoration: none;
                color: $textColor;
                font-family: $roboto;
                &:hover{
                    color: $hover;
                }
            }
        }

    }



    header{
        width: 100%;
        min-height: 790px;
        padding-bottom: 105px;
        display: flex;
        align-items: center;

        @media screen and(max-width:445px) {
            min-height: 300px !important;
            padding-bottom: 0 !important;
        }

        @media screen and(max-width:590px) {
            .container{
                padding: 0;
            }
            height: auto;
        }

        @media screen and(max-width:954px) {
            padding-bottom: 55px;
            min-height: 490px;
        }

        .header{
            display: flex;
            width: 100%;
            min-height: 165px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1{
                font-family: $HelveticaLt;
                font-size: 44px;
                font-weight: 100;
                @media screen and(max-width:590px) {
                    font-size: 34px;
                }

                @media screen and(max-width:445px) {
                    font-size: 26px;
                    min-height: auto;
                }

            }

            p{
                padding-top: 10px;
                font-family: $Merryweather;
                font-size: 16px;
                font-weight: 100;
                color: #898888;
                @media screen and(max-width:590px) {
                    font-size: 13px;
                }

                @media screen and(max-width:445px) {
                    font-size: 9px;
                    padding-top: 5px;
                }
            }

            a{
                margin-top:45px ;
                text-decoration: none;
                padding: 20px 0;
                width: 180px;
                color: $defaultDark;
                font-family: $Montserrat;
                font-size: 13px;
                font-weight: 600 ;
                border: 1px solid $defaultDark;
                text-align: center;

                &:hover{
                    border-color: $defaultLight;
                    background: $hover;
                    color: $defaultLight;
                }

                @media screen and(max-width:590px) {
                    padding: 15px 0;
                    width: 160px;
                    margin-top: 30px;
                }
                @media screen and(max-width:445px) {
                    padding: 10px 0;
                    width: 100px;
                    margin-top: 20px;
                }
            }
        }
    }

    .about_us{
        min-height: 1341px;
        width: 100%;
        background-image: url(../img/about_us.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and(max-width:974px) {
            min-height: 800px;
        }

        @media screen and(max-width:564px) {
            display: none;
        }
        .about{
            
            padding: 5px;
            h3{
                color: $defaultLight;
                font-family: $HelveticaRoman;
                font-size: 48px;
                font-weight: 100;
            }
            p{
                color: $defaultLight;
                font-family: $Montserrat;
                font-weight: 100;
                font-size: 15px;
                color: #b7b7b7;
            }



            @media screen and(max-width:974px) {
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 12px;
                    
                }
            }

            @media screen and(max-width:813px) {

            }

        }

        .about_us_content{
            max-width: 960px;
            .about_container{
                max-width: 947px;
                display: flex;
                justify-content: center;
                padding-top: 160px;

                @media screen and(max-width:974px) {
                    padding-top: 100px;
                }

                .about_left{
                    text-align: right;
                    height: 500px;
                    max-width: 400px;
                    padding-right: 160px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    
                    @media screen and(max-width:974px) {
                        height: 340px;
                    }

                    .about2011{
                        position: relative;
                        div{
                            position: absolute;
                            width: 30px;
                            top: 25px;
                            right: -98px;

                            img{
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                            
                            @media screen and(max-width:974px) {
                                right: -94px;
                            }
                        }
                    }

                    .about2013{
                        position: relative;
                        div{
                            position: absolute;
                            width: 45px;
                            top: 25px;
                            right: -106px;

                            img{
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                            @media screen and(max-width:974px) {
                                right: -104px;
                            }
                        }
                    }
                }
                .about_right{
                    text-align: left;
                    margin-top: 140px;
                    max-width: 400px; 
                    height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    
                    @media screen and(max-width:974px) {
                        height: 330px;
                    }

                    .about2012{
                        position: relative;
                        div{
                            position: absolute;
                            width: 30px;
                            top: 25px;
                            left: -92px;

                            img{
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                            @media screen and(max-width:974px) {
                                left: -97px;
                            }
                        }
                    }
                    .about2014{
                        position: relative;
                        div{
                            position: absolute;
                            width: 30px;
                            top: 25px;
                            left: -92px;

                            img{
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                            @media screen and(max-width:974px) {
                                left: -95px;
                            }
                        }
                    }
                }
            }
        }
    }

    .team{
        background-color: $defaultLight;
        height: auto;
        width: 100%;
        padding: 80px 0 128px 0 ;
        @media screen and(max-width:638px) {
            padding-top: 40px;
            padding-bottom: 58px;
        }



        .team_head{
            text-align: center;
            @media screen and(max-width:638px) {
                margin-bottom: 40px;
            }
            h2{
                font-family: $HelveticaLt;
                font-size: 34px;
                font-weight: 100;
                color: $defaultDark;
                @media screen and(max-width:445px) {
                    font-size: 26px;
                }
            }
            p{
                font-family: $Merryweather;
                font-size: 100;
                color: #898888;
                font-size: 16px;
                @media screen and(max-width:445px) {
                    font-size: 14px;
                }
            }
        }

        .team_content{
            .team_icons{

                @media screen and(max-width:638px) {
                    flex-direction:column;
                    align-items: center;
                    padding-top: 0px;
                }

                padding-top: 127px;
                max-width: 970px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                .box{
                    @media screen and(max-width:638px) {
                        padding-top: 40px;
                    }
                    h3{
                        font-family: $HelveticaRoman;
                        font-size: 24px;
                        text-align: center;
                        color: #464646;
                        padding-top: 30px;
                    }
                    p{
                        text-align: center;
                        font-size: 13px;
                        color: #b3b3b3;
                        font-family: $HelveticaRoman;
                    }
                    
                    width: 170px;
                    .icon_img{
                        width: 170px;
                        img{
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .pad{
                    padding-top: 90px;
                    @media screen and(max-width:638px) { 
                        padding-top: 20px;
                    }
                }
            
            }
        }
    }

    .services{
         width: 100%;
         background: url(../img/services.jpg);   
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         min-height: 1365px;
         padding-top: 260px;

         @media screen and(max-width:832px) {
             background-image: none;
             background-color: $defaultDark;
             height: auto;
             padding-top: 70px;
         }

        .services_content{
            .services_head{
                padding-bottom: 210px;
                text-align: center;

                @media screen and(max-width:832px) {
                    padding-bottom: 100px;
                }
                h2{
                    font-family: $HelveticaLt;
                    font-size: 34px;
                    font-weight: 100;
                    color: $defaultLight;
                    @media screen and(max-width:445px) {
                        font-size: 26px;
                    }
                }
                p{
                    font-family: $Merryweather;
                    font-size: 100;
                    color: #898888;
                    font-size: 16px;
                    @media screen and(max-width:445px) {
                        font-size: 14px;
                    }
                }
            }
            .services_main{
                display: flex;
                margin: 0 auto;
                justify-content: space-between;

                @media screen and(max-width:832px) {
                    flex-direction: column;
                    align-items: center;
                }

                .box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 340px;
                    text-align: center;

                    @media screen and(max-width:1055px) {
                        padding: 5px;
                    }

                    @media screen and(max-width:832px) {
                        margin-bottom: 40px;
                    }

                    .icon{
                        width: 170px;
                        padding-bottom: 35px;
                        img{
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    h3{
                        font-family: $HelveticaLt;
                        font-weight: 100;
                        font-size: 26px;
                        color: $defaultLight;
                    }
                    p{
                        font-family: $HelveticaLt;
                        font-weight: 100;
                        font-size: 18px;
                        color: #383838;
                        padding-top: 10px;
                    }
                }
            }
            .blog{
                margin-top: 140px;
                background-image: url(../img/blog.png);

                @media screen and(max-width:832px) {
                    margin-top: 40px;
                }
                .blog_main{
                    display: flex;
                    justify-content: center;
                    padding-top: 260px;
                    @media screen and(max-width:832px) {
                        padding-top: 100px;
                        padding-bottom: 50px;
                    }
                    a{
                        text-decoration: none;
                        padding: 20px 0;
                        width: 180px;
                        color: $defaultDark;
                        font-family: $HelveticaMd;
                        font-size: 13px;
                        font-weight: 600 ;
                        text-transform: uppercase;
                        border: 1px solid $defaultLight;
                        text-align: center;
                        background: $defaultLight;

                        &:hover{
                            background: rgb(212, 210, 210);
                            border-color: rgb(212, 210, 210);
                        }
                    }
                }
            }
        }
    }

    .contact{
        .contact_content{
            min-height: 955px;

            .contact_head{
                padding-top: 40px;
                text-align: center;
                h2{
                    font-family: $HelveticaLt;
                    font-size: 34px;
                    font-weight: 100;
                    color: $defaultDark;
                    @media screen and(max-width:445px) {
                        font-size: 26px;
                    }
                }
                p{
                    font-family: $Merryweather;
                    font-size: 100;
                    color: #898888;
                    font-size: 16px;
                    @media screen and(max-width:445px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}






